<div class="alert alert-danger fade" id="alert" role="alert">
    <strong id="alert_title">Alert Title</strong>
    <div id="alert_message">Alert Message</div>
</div>
<h6>Add Supervision Details</h6>
<div class="row">
    <div class="col-sm-2">
        <label for="ps">Police Station</label>
        <select name="ps" id="ps" class="form-select" required onchange="check()">
            <option value="">Select Police Station</option>
            <% data.ps_list.forEach((d,i)=>{ %>
                <option value="<%= d._id%>">
                    <%= d.name%>
                </option>
                <% })%>
        </select>
    </div>
    <div class="col-sm-2">
        <label for="caseNo">Case No</label>
        <input type="number" name="caseNo" min="1" id="caseNo" class="form-control" placeholder="Case No" required
            onchange="check()">
    </div>
    <div class="col-sm-2">
        <label for="caseDate">Case Year</label>
        <input type="number" name="caseDate" id="caseDate" min="2000" max="3000" class="form-control"
            placeholder="Case Year" required onchange="check()">
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-12">
        <div id="supervisionPanel" style="pointer-events:none;" class="card text-light bg-secondary mb-3">
            <div class="card-header">Add Supervision Details</div>
            <div class="card-body">
                <form action="/addSupervision" method="post">
                    <div class="row">
                        <div class="col-md-2">
                            <input type="hidden" name="rec_id" id="rec_id">
                            <label for="caseType">Case Type</label>
                            <select name="caseType" id="caseType" class="form-control" required>
                                <option value="">Select Case Type</option>
                                <% data.type_list.forEach((o,i)=>{%>
                                    <option value="<%=o._id%>">
                                        <%=o.name%>
                                    </option>
                                    <%})%>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="investigatingOfficer">Investigating Officer</label>
                            <select name="investigatingOfficer" id="investigatingOfficer" class="form-control" required
                                onchange="checkOfficer()">
                                <option value="">Select Investigating Officer</option>
                                <% data.officer_list.forEach((o,i)=>{%>
                                    <option value="<%=o._id%>">
                                        <%=o.name%>, <%=o.designation%>
                                    </option>
                                    <%})%>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="supervisingOfficer">Supervising Officer</label>
                            <select name="supervisingOfficer" id="supervisingOfficer" class="form-control" required
                                onchange="checkOfficer()">
                                <option value="">Select Supervising Officer</option>
                                <% data.officer_list.forEach((o,i)=>{%>
                                    <option value="<%=o._id%>">
                                        <%=o.name%>, <%=o.designation%>
                                    </option>
                                    <%})%>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label for="dateOfAssignment">Date of Assignment</label>
                            <input type="date" name="dateOfAssignment" id="dateOfAssignment" class="form-control" required>
                        </div>
                        <div class="col-sm-2 d-flex align-items-end">
                            <button type="submit" class="btn btn-primary border border-lite">Add</button>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="row mt-3">
    <table class="table" id="supervisionTable">

    </table>
</div>



<script>
    let alertPanel = document.getElementById('alert');
    window.onload = (event) => {
        document.getElementById('ps').focus();
        let currentDate = new Date().toISOString().slice(0,10);
        console.log(currentDate);
        document.getElementById('dateOfAssignment').value = currentDate;
    }
    function checkOfficer() {
        let io = document.getElementById('investigatingOfficer');
        let so = document.getElementById('supervisingOfficer');
        if (io.value && so.value) {
            if (io.value === so.value) {
                setAlert('IO and SO must not be the same!', 'Please select different IO or SO');
                alertPanel.classList.add('show');
            } else {
                alertPanel.classList.remove('show');
            }
        } else {
            alertPanel.classList.remove('show');
        }

    }
    function check() {

        let supervisionPanel = document.getElementById('supervisionPanel');
        let ps = document.getElementById('ps');
        let caseNo = document.getElementById('caseNo');
        let caseDate = document.getElementById('caseDate');
        let rec_id = document.getElementById('rec_id');
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/api/check");
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhr.onreadystatechange = () => {
            if (xhr.readyState === 4 && xhr.status === 200) {
                if (xhr.response) {
                    let data = JSON.parse(xhr.response);
                    rec_id.value = data._id;
                    populateSupervision(data._id);
                    supervisionPanel.style.pointerEvents = 'all';
                    supervisionPanel.classList.add('bg-primary');
                    supervisionPanel.classList.remove('bg-secondary');
                    alertPanel.classList.remove('show');
                    return;
                } else {
                    if (ps.value && caseNo.value && caseDate.value) {
                        setAlert(`${ps.options[ps.selectedIndex].text} PS Case No.${caseNo.value}/${new Date(caseDate.value).getFullYear()} does not exist in the database.`, 'If you want to add this record click on the blue button.', true, `\addRecord?ps=${ps.value}&caseNo=${caseNo.value}&caseDate=${caseDate.value}`)
                        supervisionPanel.style.pointerEvents = 'none';
                        supervisionPanel.classList.remove('bg-primary')
                        supervisionPanel.classList.add('bg-secondary')
                        alertPanel.classList.add('show');
                        document.getElementById('supervisionTable').innerHTML = '';
                        return;
                    }
                }
            }
        };
        xhr.send(`ps=${ps.value}&caseNo=${caseNo.value}&caseDate=${caseDate.value}`);
    }
    function populateSupervision(id) {
        let xhr = new XMLHttpRequest();
        xhr.open("GET", "/api/getSupervisionDetails/"+id);
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhr.onreadystatechange = () => {
            if (xhr.readyState === 4 && xhr.status === 200) {
                if(xhr.response){
                    let data = JSON.parse(xhr.response);
                    let tr=`<tr>
                        <th>#</th>
                        <th>Case Type</th>
                        <th>IO Name</th>
                        <th>SO Name</th>
                        <th>Assigned On</th>
                        <th>Status</th>
                        <th></th>
                        </tr>`;
                    data.forEach((o,i)=>{
                        tr +=`<tr class='${o.status?'table-success':'table-danger'}'>
                            <td>${i+1}</td>
                            <td>${o.caseType.name}</td>
                            <td>${o.investigatingOfficer.name}, ${o.investigatingOfficer.designation}</td>
                            <td>${o.supervisingOfficer.name}, ${o.supervisingOfficer.designation}</td>
                            <td>${new Date(o.dateOfAssignment).getDate()}-${new Date(o.dateOfAssignment).getMonth()}-${new Date(o.dateOfAssignment).getFullYear()}</td>
                            <td width="180px"><button class='btn ${o.status?'btn-success':'btn-danger'}' onclick='setStatus("${o._id}","${!o.status}")'>${o.status?'Uploaded':'Pending'}</button></td>
                            <td><span aria-hidden="true" style="cursor:pointer" data-id="${o._id}" data-rec-id="${id}" onclick="remove(this)">&times;</span></td>
                            </tr>`;
                    });

                    document.getElementById('supervisionTable').innerHTML = tr;
                }
            }
        }
        xhr.send();
    }
    function setAlert(alert_title, alert_message, addButton = false, href) {
        document.getElementById('alert_title').innerText = alert_title;
        document.getElementById('alert_message').innerText = alert_message;

        if (addButton) {
            let alertDiv = document.getElementById('alert');
            let addBtn = document.getElementById('addBtn');
            if (addBtn) {
                addBtn.href = href;
            } else {
                let addBtn = document.createElement('a');
                addBtn.id = 'addBtn';
                addBtn.classList.add('btn', 'btn-primary', 'btn-sm', 'mt-2');
                addBtn.innerText = 'Click here to add';
                addBtn.href = href;
                alertDiv.appendChild(addBtn);
            }
        }
    }
    function setStatus(id, status){
        let xhr = new XMLHttpRequest();
        xhr.open("GET", "/api/setSupervisionStatus/"+id+"/"+status);
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhr.onreadystatechange = () => {
            if (xhr.readyState === 4 && xhr.status === 200) {
                if(xhr.response){
                    check();
                }else{
                    return;
                }
            }
        }
        xhr.send();
    }

    function remove(obj){
        let id = obj.getAttribute("data-id");
        let rec_id = obj.getAttribute("data-rec-id");

        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/addSupervision/remove");
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhr.onreadystatechange = ()=>{
            if(xhr.readyState === 4 && xhr.status == 200){
                if(xhr.response){
                    if(xhr.response === id){
                        
                    }
                }
            }
        }
        xhr.send(`id=${id}&rec_id=${rec_id}`);
    }
</script>